@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$grey: rgba(196, 196, 196, 0.59);
$green: #00ae5a;
$lightGreen: rgba(0, 174, 90, 0.37);
$white: #fff;
$red: #8d0000;

html, * {
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;

  td, th {
    border: 1px solid $grey;
    padding: 10px;
    position: relative;
  }

  th {
    background-color: rgba(128, 128, 128, 0.1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  td {
    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
  }
}

.btn {
  padding: 10px;
  line-height: 1;
  cursor: pointer;

  border: 1px solid $green;
  border-radius: 2px;

  background-color: $white;
  color: $green;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;

  transition: border 0.05s linear;

  &_add {
    position: absolute;
    left: 100%;
    top: 0;
    margin: 10px;
  }

  &_clear {
    position: absolute;
    left: 100%;
    top: 100%;
    margin: 10px;
  }

  &_disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &:active {
    border-color: $white;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.remove-contact {
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}

input {
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;

  border-radius: 2px;
  border: 1px solid $grey;
  padding: 10px;

  transition: border 0.2s linear;

  &:focus, &:active {
    border-color: $green;
    outline: none;
  }

  .-hasError & {
    border-color: $red;
  }
}

.FormError {
  display: none !important;
}
